site_name: Domain-Agnostic Knowledge Graph Server
site_description: Documentation for the domain-agnostic knowledge graph server
repo_url: https://github.com/wware/kgraph
repo_name: wware/kgraph

theme:
  name: null
  # variant options: 'modern' (new) or 'classic' (Material look)
  variant: modern

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - tables
  - toc:
      permalink: true

nav:
  - Home: index.md
  - Architecture: architecture.md

